@{
    Layout = "_Layout";
    ViewBag.Title = "Detalhes";
}
<h5>Informações Detalhadas<i class="material-icons left">view_list</i></h5>
<hr>
<ul class="collection">
    <li class="collection-item">
        <h5>Nome</h5>
        <p>@Model.Nome</p>
    </li>
    <li class="collection-item">
        <h5>CPF</h5>
        <p>@Model.Cpf</p>
    </li>
    <li class="collection-item">
        <h5>RG</h5>
        <p>@Model.Rg</p>
    </li>
    <li class="collection-item">
        <h5>E-Mail</h5>
        <p>@Model.Email</p>
    </li>
    <li class="collection-item">
        <h5>Data Nascimento</h5>
        <p>@Model.DataNascimento</p>
    </li>
    <li class="collection-item">
        <h5>Telefone</h5>
        <p>@Model.Telefone</p>
    </li>
    <li class="collection-item">
        <h5>Celular</h5>
        <p>@Model.Celular</p>
    </li>
    <li class="collection-item">
        <h5>Rua</h5>
        <p>@Model.Rua</p>
    </li>
    <li class="collection-item">
        <h5>N°</h5>
        <p>@Model.Numero</p>
    </li>
    <li class="collection-item">
        <h5>Complemento</h5>
        <p>@Model.Complemento</p>
    </li>
    <li class="collection-item">
        <h5>CEP</h5>
        <p>@Model.Cep</p>
    </li>
    <li class="collection-item">
        <h5>Bairro</h5>
        <p>@Model.Bairro</p>
    </li>
    <li class="collection-item">
        <h5>Cidade</h5>
        <p>@Model.Cidade</p>
    </li>
    <li class="collection-item">
        <h5>UF</h5>
        <p>@Model.Estado</p>
    </li>
  </ul>

